.scroll-component {    
    height: 550px;
    width: 100%;
    align-content: center;
    background-color: red;
}
.scroll-component2 {
    height: 550px;
    width: 100%;
    align-content: center;
    background-color: green;
}

.side-data {
    align-items: center;
    justify-content: center;
}